@import "styles/variables.global.scss";
@import "styles/mixins.global.scss";

.container {
  display: flex;
  align-items: center;
  width: max-content;
}

.logo-container {
  background-color: $white;
  margin-right: rem(10px);
  @include size(rem(44px), rem(44px));
  border-radius: 50%;
}

.logo {
  @include size(inherit, inherit);
}

.heading {
  font-size: rem(16px);
  line-height: rem(20px);
  font-weight: 600;
}

.sub-heading {
  font-size: rem(14px);
  line-height: rem(17px);
  color: $gray-color-4;
}
